*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: white; /* Testo scuro */
}

.table-header {
  background-color: blue; /* Blu vivace */
  border-bottom: 2px solid darkblue; /* Blu leggermente più scuro per il bordo */
}

.table-header-cell {
  padding: 12px 15px;
  text-align: center;
  color: black; /* Testo bianco nell'intestazione */
  font-weight: bold;
}


.table-cell {
  padding: 12px 15px;
  border-bottom: 1px solid gray; 
  color: black;/* Bordo sottile e chiaro */
}
