*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
}
.table {
  width: 100%;
  margin: 20px 0;
  font-size: 14px;
  color: black;
}

.table-header {
  background-color: blue;
  border-bottom: 2px solid darkblue;
}

.table-header-cell {
  padding: 12px 15px;
  text-align: center;
  color: white; 
  font-weight: bold;
}

.table-cell {
  padding: 12px 15px;
  border-bottom: 1px solid gray;
  color: black; 
}

.btn{
  background-color: black;
  color: white;
  padding: 10px;
  border-color: red;
  margin-left: 40px;
}
.btn_form{
  background-color: red;
  color: yellow;
  padding: 10px;
  border-color: gold;
  margin-left: 40px;
}

